body {
	margin: 0;
	padding: 0;
}
p {
	font-family: Verdana, Geneva, sans-serif;
}
a {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
}
h3 {
	color: #33629C;
}
li {
	list-style-type: none; 
}
header.top {
	height: 105px;
	background: radial-gradient(circle at 50% 52px, #6594C9, #4B7DB3);
	background: -webkit-radial-gradient(center bottom, 50% 52px, #6594C9, #4B7DB3);
	min-width: 1170px;
}
.logo {
	width: 254px;
	height: 168px;
	background-color: #fff;
	box-shadow: 2px -9px 8px -1px;
	-webkit-box-shadow: 2px -9px 8px -1px #080808;
	-moz-box-shadow: 2px -9px 8px -1px #080808; 
	position: absolute;
	margin: 0 0 0 17px;
}
.logo img {
	display: block;
	margin: 50px auto;
}
p.main {
	display: block;
	top: 13px;
	left: 300px;
	font-size: 18px;
	color: #fff;
	transform: translate(301px, -154px);
	-webkit-transform: translate(301px, -154px);
	width: 55%;
}
img.back {
	display: block;
	padding: 2px 0 0 280px;
	transform: translate(0, -3px);
}	
.bottom {
	min-width: 1170px;
	background-image: linear-gradient(#F66C41, #FF7E56, #F66C41);
	background-image: -webkit-linear-gradient(#F66C41, #FF7E56, #F66C41);
	box-shadow: 2px 2px 8px -1px;
	-webkit-box-shadow: 2px 2px 8px -1px;
	-moz-box-shadow: 2px 2px 8px -1px;  
	padding: 1px 0 0;
}
nav {
	height: 37px;
	
}
nav ul {
	padding: 0 0 0 276px;
}
nav li {
	font-family: Verdana, Geneva, sans-serif;
	display: inline-block;
}
nav.top1 a {
	color: #fff;
	padding: 15px 36px 17px 35px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	border-right: 1px solid #AC6D58;
}	
nav.top1 a:hover {
	border-radius: 2px;
	text-decoration: none;
	background-color: #3868A3;
	box-shadow: 2px 0 8px -1px #040404;
	-webkit-box-shadow: 2px 0 8px -1px #040404;
	-moz-box-shadow: 2px 0 8px -1px #040404; 
}
nav.top1 a:focus {
	text-decoration: none;
}
.enter {
	background-color: #e45c39;
    display: block;
    height: 50px;
    transform: translate(1039px, -48px);
    -webkit-transform: translate(1039px, -48px);
    width: 113px;
    border-right: 1px solid #B55232;
    border-left: 1px solid #B55232;

}
.lang {
	background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 64px;
    transform: translate(1052px, -113px);
    -webkit-transform: translate(1052px, -113px);
    width: 88px;
}
.lang a {
	color: #fff;
	text-decoration: none;
}
.lang a:hover {
	color: #fff;
	text-decoration: none;
} 
.lang p.ru {
	left: 54px;
    position: absolute;
    top: 2px;
}
.lang p.en {
	left: 15px;
    position: absolute;
    top: 2px;
}
.lang img.ru {
	left: 53px;
    position: absolute;
    top: 37px;
}    
.lang img.en {
	left: 13px;
    position: absolute;
    top: 37px;
}
.sidebar ul {
	width: 284px;
}
.sidebar li {
	color: #060606;
	padding: 9px 10px;
}
.sidebar ul li a {
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	color: #060606;
	padding: 12px;
	width: 233px;
	display: block;
}
.sidebar ul li a:hover {
	border-radius: 2px;
	color: #060606;
	text-decoration: none;
	box-shadow: 2px 2px 5px -1px;
	-webkit-box-shadow: 2px 2px 5px -1px #080808;
	-moz-box-shadow: 2px 2px 5px -1px #080808; 
}
.sidebar a:focus {
	text-decoration: none;
	color: #060606;
}
.sidebar {
	display: inline-block;
    float: left;
    margin: 52px 0 0 -47px;
}
.chat {
	margin: 25px 0 0 63px;
}
.chat p {
	display: block;
	color: #fff;
	line-height: 20px;
	transform: translate(67px, -69px);
	-webkit-transform: translate(67px, -69px);
}
.chat a {
	text-decoration: none;
}
.chat a:hover {
	text-decoration: none;
}
.mainpart {
	position: relative;
	box-shadow: -21px 7px 13px -23px;
	-webkit-box-shadow: -21px 7px 13px -23px #080808;
	-moz-box-shadow: -21px 7px 13px -23px  #080808;
    display: inline-block;
    height: 100%;
    margin: -17px 0 0 -12px;
    padding: 71px 0 89px 30px;
}
.mainpart img {
	float: right;
    margin: 1px 0 0 4px;
}
.mainpart p {
	line-height: 16px;
}
.hr1, .hr2 {
 	background-image: linear-gradient(#FB754C, #FF915F);
 	background-image: -webkit-linear-gradient(#FB754C, #FF915F);
	height: 2px;
	width: 100%;
	margin: 36px auto;
	padding: 0;
}
footer {
	height: 89px;
	background-color: #4B7DB3;
	min-width: 1170px;
	box-shadow: inset 0 2px 5px 0;
	-webkit-box-shadow: inset 0 2px 5px 0 #080808;
	-moz-box-shadow: inset 0 2px 5px 0 #080808;
}
@media screen and (max-width: 1024px) {
  img.back {
  	width: 1000px;
  	transform: translate(0, 8px);
  	-webkit-transform: translate(0, 8px);
  }
  .lang {
  	transform: translate(897px, -100px);
  	-webkit-transform: translate(897px, -100px);
  }
  p.main {
	transform: translate(301px, -142px);
	-webkit-transform: translate(301px, -142px);
  }
  nav ul {
	padding: 0 0 0 279px;
  }
  .enter {
	transform: translate(882px, -49px);
	-webkit-transform: translate(882px, -49px);
  }
}
